/* Default colors, fonts, and sizes */
:root{
    --body-font: "Poppins", sans-serif;
    --header-font: "Roboto", sans-serif;
    --link-color: #ff6600;
    --text-color-1: #000000;
    --text-color-2: #ffffff;
    --text-color-3: #00ff00;
    --text-color-4: #0051ff;
    --text-color-5: #ff0000;
    --background-color-1: #000000;
    --background-color-2: #0051ff;
    --background-color-3: #00ff00;
    --background-color-4: #808080;
    --contrast-color-1: #d6caca;
    --contrast-color-2: rgba(0, 0, 0, 0.65);
    --contrast-color-3: #000fff;
    --contrast-color-4: rgba(0, 0, 0, 0.555);
    --contrast-color-5: rgba(53, 49, 49, 0.555);
    --font-xxs: 0.75vh;
    --font-xs: 1.25vh;
    --font-s: 1.5vh;
    --font-r: 1.75vh;
    --font-l: 2vh;
    --font-xl: 3vh;
    --font-xxl: 4vh;
}

::-webkit-scrollbar{
    display: none;
}
/* Default page settings */
*{
    box-sizing: border-box;
    cursor: default;
    margin: 0;
    padding: 0;
}

a:hover{
    background-color: var(--contrast-color-3);
}

a:visited{
    color: var(--text-color-1)
}
/* Audio placement */
.audio{
    margin: 6vh;
}
/* Pages table configuration */
.aboutTable,
.contactTable,
.galleryTable,
.homeTable,
.servicesTable{
    color: var(--text-color-1);
    margin: 0 auto;
    padding-bottom: 25vh;
    width: 95vw;
}
.aboutTable th,
.contactTable th,
.galleryTable th,
.homeTable th,
.servicesTable th{
    background-color: var(--background-color-2);
    border: .25vw solid var(--background-color-2);
    border-collapse: collapse;
    font-size: var(--font-xl);
    padding: 5vh 0;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}
.aboutTable td,
.contactTable td,
.galleryTable td,
.homeTable td,
.servicesTable td{
    background-color: var(--background-color-4);
    border: .25px solid var(--contrast-color-1);
    font-size: var(--font-l);
    text-align: center;
}
/* Background image */
.background img{
    opacity: 50%;
    position: fixed;
    width: 100%;
    z-index: -1;
}
/* Main content box settings */
.blur{
    background-color: var(--contrast-color-4);
    color: var(--text-color-2);
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    opacity: 95%;
    z-index: -1;
}
/* Body background color */
.body{
    background-color: var(--background-color-1);
}
/* Gallery close button */
.close{
    font-size: var(--font-xxl);
    font-weight: 900;
    margin: 5vw;
    position: absolute;
    right: 5vw;
    text-decoration: none;
    top: 18vh;
}
/* Form consent */
.messageBox label{
    font-size: var(--font-xs) !important;
    font-weight: 400 !important;
}
/* Style location field of contact form */
.contactInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contactInfo div{
    margin: 8vh auto;
    width: 90%;
}
.contactInfo p{
    margin: 0 auto;
    width: 90%;
}
/* Content area */
.content .blur{
    display: flex;
    font-family: var(--body-font);
    font-size: var(--font-l);
    position: fixed;
}
/* Important words in content area */
.content span{
    color: var(--text-color-4);
    font-size: var(--font-l);
    font-weight: 900;
}
/* Copyright div */
.copyright{
    color: var(--text-color-3);
    font-size: var(--font-xs);
    height: 6vh;
    padding-top: 1vh;
    text-align: center;
    width: 100%;
}
/* Copyright links */
.copyright a{
    color: var(--link-color);
    font-size: var(--font-xs);
}
.copyright a:hover{
    background-color: var(--background-color-1) !important;
}
/* Link text settings for current page */
.currentLink{
    background-color: var(--background-color-1) !important;
    color: var(--text-color-3) !important;
}
/* Bottom navigation */
.dropdown{
    float: right;
    overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn{
    background-color: inherit;
    border: none;
    color: var(--text-color-2);
    font-size: var(--font-s);
    font-weight: 700;
    margin: 0 1vw 0 0;
    outline: none;
    padding: 2vh 1.75vh 2vh 1.75vh;
}
/* Dropdown hover */
.dropdown button:hover{
    background-color: var(--background-color-1);
}
/* Dropdown content (hidden by default) */
.dropdown-content{
    background-color: var(--background-color-1);
    bottom: 6vh;
    box-shadow: 1vw 1vw 1.5vw 0vw var(--contrast-color-4);
    display: none;
    min-width: min-content;
    position: absolute;
    right: 1vw;
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a{
    color: var(--text-color-4);
    display: block;
    float: none;
    font-weight: 700;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}
/* Full width footer */
.footer{
    background-color: var(--background-color-1);
    bottom: 0vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
}
/* Show funny caveat to promise in small letters when promise is hovered on */
.footer h2:hover+.promiseClause{
    visibility: visible;
}
/* Form layout */
.formButton{
    background-color: var(--contrast-color-1);
    border-radius: 1.5vw;
    color: var(--text-color-1);
    display: inline-flex;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: var(--font-l);
    margin: 2.75vh auto;
    padding: .75vw;
}
.formButton:hover,
.form option{
    background-color: var(--contrast-color-2);
    color: var(--text-color-2);
}
.formFields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0 solid var(--contrast-color-2);
}
/* Set up contact form inputs */
.form input,
.form select{
    background-color: var(--contrast-color-5);
    border: 1px solid var(--contrast-color-2);
    color: var(--text-color-2);
    font-size: var(--font-r);
    margin: 0 0 2vh 0;
    padding: .5vw;
}
.form label,
.form legend{
    font-size: var(--font-l);
    font-weight: 900;
    padding: .5vh 0;
}
/* Set up contact form message box */
.form textarea{
    background-color: var(--contrast-color-5);
    border: 1px solid var(--contrast-color-2);
    color: var(--text-color-2);
    font-size: var(--font-r);
    width: 82%;
}
/* Grid for main page table data */
.frontPage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1vh 5vw;
}
.frontPage figure,
.frontPage blockquote{
    margin: 0 2vw;
}
/* Smaller gallery table */
.galleryTable{
    padding-top: 10vh;
    width: 65vw;
}
/* Full width header */
.header{
    position: fixed;
    width: 100%;
}
/* Main page image */
.homeTable img{
    float: left;
    width: 25%;
}
/* Hour position format */
.hours{
    width: 90%;
}
/* Large image dimensions */
.large{
    display: block;
    margin: 10vh auto;
    width: 50%;
}
/* Set the large image to cover the entire site when opened */
.largeImage{
    background-color: var(--background-color-1);
    height: 100%;
    left: 0;
    margin: 10vh auto 25vh auto;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;
}
/* Position the close button */
.largeImage a{
    color: var(--text-color-4);
    display: block;
    margin: -10vh auto;
}
/* Open popup when small image is clicked */
.largeImage:target{
    opacity: 1;
    visibility: visible;
}
/* Price list formatting */
.lists li{
    list-style-type: none;
    text-align: left;
    width: max-content;
}
.lists{
    display: grid !important;
    grid-template-columns: 1fr .2fr 1fr !important;
    padding: 0 1vw;
}
/* Logo size adjustments */
.logo{
    display: block;
    margin: 1vh auto;
    max-width: 10vw;
    opacity: 0.85;
    z-index: 2;
}
/* Main div that contains content */
.main{
    margin-bottom: 26vh;
    padding-top: 10.5vh;
}
/* Main page paragraph */
.message{
    margin: 5vh 5vw;
    padding-left: 20vw;
}
/* Contact from legennd */
.messageBox legend{
    font-size: var(--font-xs);
    color: var(--text-color-4)
}
/* Set background color of nav bar */
.navigation{
    background-color: var(--background-color-2);
    height: 9vh;
    width: 100%;
    position: fixed;
}
/* Top navigation buttons */
.navButton{
    background-color: var(--contrast-color-1);
    border-radius: 1.5vw;
    color: var(--text-color-1);
    display: inline-flex;
    font-family: var(--header-font);
    font-weight: 900;
    margin-left: 0.5vw;
    margin-top: 2.75vh;
    max-width: max-content;
    max-height: 6vh;
    padding: 0.75vw;
    text-align: center;
    text-decoration: none;
}
/* Align navigation buttons */
.navButtons{
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    position: fixed;
}
/* Change background on hover */
.navButton:hover{
    color: var(--text-color-2);
}
/* About page image sizing and placement */
.owner{
    margin: 0 30%;
    max-height: 100%;
}
/* Price table formatting */
.prices{
    margin: 10vh auto;
    width: max-content;
}
.prices td{
    background-color: var(--background-color-4);
    font-size: var(--font-l);
}
.prices th{
    border: .25vw solid var(--background-color-3);
    background-color: var(--background-color-3);
    font-size: var(--font-xl);
}
/* Promise text settings */
.promise{
    color: var(--text-color-2);
    left: 3vw;
    margin-top: 0.5vh;
    position: fixed;
}
/* Funny caveat settings */
.promiseClause{
    color: var(--text-color-2);
    font-size: var(--font-xxs);
    left: 3vw;
    margin-top: 3vh;
    position: fixed;
    visibility: hidden;
    width: 25%;
}
/* Service table styling */
.servicesDescription{
    background-color: var(--background-color-4);
    font-size: var(--font-l);
    padding: .5vw;
}
/* Slogan design */
.slogan{
    color: var(--text-color-2);
    position: absolute;
    right: 1.5vw;
    text-decoration: var(--text-color-5) wavy underline;
    top: 5vh;
}
/* Space out text in services table */
.snippet{
    height: 10vh;
    margin: 0 1vw;
    text-align: center;
}
/* Testimonial design */
.testimonial{
    background-color: var(--background-color-1);
    border-radius: 5px;
    border-top: 5px solid var(--contrast-color-3);
    box-shadow: 0 0 5px var(--contrast-color-5);
    color: var(--text-color-2);
    display: inline-block;
    font-family: var(--header-font);
    font-size: var(--font-r);
    margin: 1vh .5vw;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
}
.testimonial *,
.testimonial *:before{
    box-sizing: border-box;
    transition: all 0.1s ease-out;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
}
.testimonial figcaption{
    padding: 13% 10% 12%;
}
.testimonial h3{
    color: var(--text-color-2);
    font-size: var(--font-r);
    font-weight: 300;
    line-height: 24px;
    margin: .5vh 0 1.5vh;
}
.testimonial blockquote{
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
}
/* Thumbnail dimension settings */
.thumb{
    width: 10vw;
}
/* Thumbnail hover effect */
.thumb:hover{
    opacity: 0.7;
}
/* Thumbnail grid set up */
.thumbnails{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1vh auto;
}
/* Spacing between images */
.thumbnails a{
    padding: 1vh 1vw;
}
/* Hover effect on small images */
.thumbnails a:hover{
    background-color: var(--contrast-color-2);
}
/* Title design */
.title{
    color: var(--text-color-5);
    font-size: var(--font-xxl);
    position: absolute;
    right: 1.5vw;
    top: .5vh;
}
/* Video placement */
.video{
    height: 40vh;
    width: 35vw;
}
/* Mobile Formatting */
@media screen and (max-width: 1080px){
    /* Set table widths to full screen */
    table{
        width: 100%;
    }
    /* Format tables on mobile devices */
    .aboutTable td,
    .contactTable td,
    .galleryTable td,
    .homeTable td,
    .servicesTable td{
        display: block;
        min-width: 100%;
        padding: .75vh;
    }
    .aboutTable th,
    .contactTable th,
    .galleryTable th,
    .homeTable th,
    .servicesTable th{
        display: block;
        transform: rotate(360deg);
        width: 100%;
        writing-mode: horizontal-tb;
    }
    /* Remove grid for main page table data */
    .frontPage{
        display: block;
        padding: 1vh 0;
    }
    .frontPage p{
        padding: 1vh 0;
    }
    /* Rest the table spacing on mobile */
    .galleryTable{
        padding-top: 1vh !important;
        width: 95vw !important;
    }
    /* Image format for mobile */
    .homeTable img{
        margin: 10vh auto;
    }
    /* Large image settings on mobile */
    .large{
        display: block;
        margin: 10vh auto;
        min-width: 75%;
    }
    /* Logo styling */
    .logo{
        width: 8vw;
    }
    /* Services page pricing lists */
    .lists ul{
        display: table;
        margin: 0 auto;
        text-align: left;
    }
    /* Main page paragraph spacing */
    .message{
        margin: 0 5vw;
    }
    /* Navigation button styling */
    .navButtons{
        top: -1vh;
    }
    /* About page image spacing */
    .owner{
        margin: 0 10%;
    }
    /* Price list formatting */
    .prices{
        margin: 0vh auto;
        height: 25vh;
        width: 100%;
    }
    /* Lower font size on mobile */
    .slogan{
        font-size: var(--font-l);
    }
        /* Thumbnail dimension settings on mobile*/
    .thumb{
        min-width: 25vw;
    }
}