/* Default colors, fonts, and sizes */
:root{
    --body-font: "Poppins", sans-serif;
    --header-font: "Roboto", sans-serif;
    --link-color: #ff6600;
    --text-color-1: #000000;
    --text-color-2: #ffffff;
    --text-color-3: #00ff00;
    --text-color-4: #f53f3f;
    --background-color-1: #000000;
    --background-color-2: #0051ff;
    --background-color-3: #00ff00;
    --contrast-color-1: #d6caca;
    --contrast-color-2: rgba(0, 0, 0, 0.65);
    --contrast-color-3: #000fff;
    --contrast-color-4: rgba(0, 0, 0, 0.555);
    --contrast-color-5: rgba(53, 49, 49, 0.555);
    --font-xxs: 0.75vh;
    --font-xs: 1.25vh;
    --font-s: 1.5vh;
    --font-r: 1.75vh;
    --font-l: 2vh;
    --font-xl: 3vh;
    --font-xxl: 4vh;
}
::-webkit-scrollbar{
    display: none;
}
/* Default page settings */
*{
    box-sizing: border-box;
    cursor: default;
    margin: 0;
    padding: 0;
}

a:hover{
    background-color: var(--contrast-color-3);
}
a:visited{
    color: var(--text-color-1)
}
/* Backgroudn image */
.background img{
    position: fixed;
    width: 100%;
    z-index: -1;
    opacity: 50%;
}
/* shading to content div */
.blur{
    color: var(--text-color-2);
    background-color: var(--contrast-color-4);
    height: 100%;
    z-index: -1;
}
/* Body background color */
.body{
    background-color: var(--background-color-1);
}
.contactInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.currentLink{
    color: var(--text-color-3) !important;
    background-color: var(--background-color-1) !important;
}
/* Content area */
.content .blur{
    display: flex;
    font-family: var(--body-font);
    font-size: var(--font-l);
    position: fixed;
}
/* Important words in content area */
.content span{
    color: var(--text-color-4);
    font-size: var(--font-l);
    font-weight: 900;
}
/* Copyright div */
.copyright{
    color: var(--text-color-3);
    font-size: var(--font-xs);
    height: 6vh;
    padding-top: 1vh;
    /* position: fixed; */
    text-align: center;
    width: 100%;
}
/* Copyright links */
.copyright a{
    color: var(--link-color);
    font-size: var(--font-xs);
}
.copyright a:hover{
    background-color: var(--background-color-1) !important;
}
/* Bottom navigation */
.dropdown{
    float: right;
    overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn{
    background-color: inherit;
    border: none;
    color: var(--text-color-2);
    font-size: var(--font-s);
    font-weight: 700;
    margin: 0 1vw 0 0;
    outline: none;
    padding: 2vh 1.75vh 2vh 1.75vh;
}
/* Dropdown hover */
.dropdown button:hover{
    background-color: var(--background-color-1);
}
/* Dropdown content (hidden by default) */
.dropdown-content{
    background-color: var(--background-color-1);
    bottom: 6vh;
    box-shadow: 1vw 1vw 1.5vw 0vw var(--contrast-color-4);
    display: none;
    min-width: min-content;
    position: absolute;
    right: 1vw;
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a{
    color: var(--text-color-4);
    font-weight: 700;
    display: block;
    float: none;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}
/* Full width footer */
.footer{
    background-color: var(--background-color-1);
    bottom: 0vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
}
/* Link in middle div */
.footer .navButton{
    background-color: var(--contrast-color-3);
    border-radius: 1.5vw;
    color: var(--text-color-2);
    font-family: var(--header-font);
    font-weight: 900;
    justify-content: center;
    position: fixed;
    left: 35%;
    width: 25%;
}
/* Show funny caveat to promise in small letters when promise is hovered on */
.footer h2:hover + .promiseClause{
    visibility: visible;
}
/* Form layout */
.form{
    text-align: center;
}
.form button:hover{
    background-color: var(--contrast-color-3);
}
/* Set up contact form inputs */
.form input{
    background-color: var(--contrast-color-5);
    border: 1px solid var(--contrast-color-1);
    color: var(--text-color-2);
    font-size: var(--font-r);
    margin: 0 0 2vh 0;
    padding: 1vw;
}
/* Set up contact form message box */
.form textarea{
    background-color: var(--contrast-color-5);
    border: 1px solid var(--contrast-color-1);
    width: 82%;
    color: var(--text-color-2);
    font-size: var(--font-r);
}
/* Full width header */
.header{
    position: fixed;
    width: 100%;
}
/* Main topic header */
.headline{
    text-align: center;
}
/* Split content area into 2 even divs */
.left,
.right{
    flex: 50%;
    height: 75vh;
    /* margin-top: 7vh; */
    padding: 1vw;
    overflow: scroll;
}
/* Logo size adjustments */
.logo{
    display: block;
    margin: 1vh auto;
    max-width: 10vw;
    opacity: 0.85;
    z-index: 2;
}
/* Main div that contains content */
.main{
    margin-bottom: 26vh;
    padding-top: 10.5vh;
}
/* Home page picture settings */
.mechanics{
    margin-top: 22vh;
    text-align: center;
    float: right;
}
/* Set image width */
.mechanics img{
    margin-right: 5vw;
    margin-top: -14vh;
    width: 75%;
}
/* Owners pictures on about */
.owners{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* price list formatting */
.price{
    list-style-type: none;

}
/* price list formatting */
.lists{
    margin-left: 12%;
}
/* price list formatting */
.prices{
    display: grid;
    grid-template-columns: 2fr .5fr .5fr;
    list-style-position: inside;
}
/* Set background color of nav bar */
.navigation{
    background-color: var(--background-color-2);
    height: 9vh;
    width: 100%;
    position: fixed;
}
/* Top navigation buttons */
.navButton{
    background-color: var(--contrast-color-1);
    border-radius: 1.5vw;
    color: var(--text-color-1);
    display: inline-flex;
    font-family: var(--header-font);
    font-weight: 900;
    margin-left: 0.5vw;
    margin-top: 2.75vh;
    max-width: 8vw;
    max-height: 6vh;
    padding: 0.5vw;
    text-align: center;
    text-decoration: none;
}
/* Align navigation buttons */
.navButtons{
    max-width: 40%;
    text-align: center;
    position: fixed;
}
/* Change background on hover */
.navButton:hover{
    color: var(--text-color-2);
}
/* Promise text settings */
.promise{
    color: var(--text-color-2);
    left: 3vw;
    margin-top: 0.5vh;
    position: fixed;
}
/* Funny caveat settings */
.promiseClause{
    color: var(--text-color-2);
    font-size: var(--font-xxs);
    left: 3vw;
    margin-top: 3vh;
    position: fixed;
    visibility: hidden;
    width: 25%;
}
/* Slogan design */
.slogan{
    color: var(--text-color-2);
    position: absolute;
    right: 1.5vw;
    text-decoration: var(--text-color-4) wavy underline;
    top: 5vh;
}
/* Title design */
.title{
    color: var(--text-color-4);
    font-size: var(--font-xxl);
    position: absolute;
    right: 1.5vw;
    top: .5vh;
}