/* To add to html later */
/* <link rel="stylesheet" href="./res/css/style.css"> */

/* Default colors, fonts, and sizes */
:root{
	--body-font: 'Poppins', sans-serif;
	--header-font: 'Roboto', sans-serif;
	
	--link-color: #FF6600;
	
	--text-color-1: #000000;
	--text-color-2: #FFFFFF;
	--text-color-3: #00FF00;
	--text-color-4: #f53f3f;
	
	--background-color-1: #000000;
	--background-color-2: #0051ff;
	--background-color-3: #00FF00;
	
	--contrast-color-1: #D6CACA;
	--contrast-color-2: rgba(0, 0, 0, 0.65);
	--contrast-color-3: #000FFF;
	--contrast-color-4: rgba(0, 0, 0, 0.555);
	
	--font-xxs: .75vh;
	--font-xs: 1.25vh;
	--font-s: 1.5vh;
	--font-r: 1.75vh;
	--font-l: 2vh;
	--font-xl: 3vh;
	--font-xxl: 4vh;
}

/* Default page settings */
*{
	box-sizing: border-box;
	cursor: default;
	margin: 0;
	padding: 0;
}

/* Backgroudn image */
.background img{
	position: fixed;
	width: 100%;
	z-index: -1;
}

/* shading to content section */
.blur{
	background-color: var(--contrast-color-4);
	height: 100%;
	z-index: -1;
}

/* Body background color */
.body{
	background-color: var(--contrast-color-4);
}

/* Main topic header */
.bulletin{
	margin-top: 20vh;
	text-align: center;
}

/* Content area */
.content .blur{
	display: flex;
	font-family: var(--body-font);
	font-size: var(--font-l);
	position: fixed;
}

/* Important words in content area */
.content span{
	color: var(--text-color-4);
	font-size: var(--font-l);
	font-weight: 900;
}

/* Copyright section */
.copyright{
	background-color: var(--background-color-1);
	bottom: 0vh;
	color: var(--text-color-3);
	font-size: var(--font-xs);
	height: 6vh;
	padding-top: 1vh;
	position: fixed;
	text-align: center;
	width: 100%;
}

/* Copyright links */
.copyright a{
	color: var(--link-color);
	font-size: var(--font-xs);
}

/* Bottom navigation */
.dropdown{
	float: right;
	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn{
	background-color: inherit;
	border: none;
	color: var(--text-color-2);
	font-size: var(--font-s);
	font-weight: 700;
	margin: 0 1vw 0 0;
	outline: none;
	padding: 2vh 1.75vh 2vh 1.75vh;
}

/* Dropdown hover */
.dropdown button:hover{
	background-color: var(--background-color-1);
}

/* Dropdown content (hidden by default) */
.dropdown-content{
	background-color: var(--background-color-1);
	bottom: 6vh;
	box-shadow: 1vw 1vw 1.5vw 0vw var(--contrast-color-4);
	display: none;
	min-width: min-content;
	position: absolute;
	right: 1vw;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
	color: var(--text-color-4);
	font-weight: 700;
	display: block;
	float: none;
	padding: 1vh 1vw;
	text-align: center;
	text-decoration: none;
}

/* Add a blue background color to dropdown links on hover */
.dropdown-content a:hover{
	background-color: var(--background-color-2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
	display: block;
}

/* Full width footer */
.footer{
	position: fixed;
	width: 100%;
}

/* Full width header */
.header{
	position: fixed;
	width: 100%;
}

/* Split content area into 2 even sections */
.left,
.right{
	color: var(--text-color-2);
	flex: 50%;
	height: 75vh;
	margin-top: 1vh;
	padding: 1vw;
}

/* Logo size adjustments */
.logo{
	display: block;
	margin: -9vh auto;
	max-width: 15%;
	opacity: .85;
	top: .1vh;
	z-index: 2;
}

/* Main section that contains content */
.main{
	margin-bottom: 26vh;
	padding-top: 10.5vh;
}

/* Link in middle section */
.right a{
	background-color: var(--contrast-color-3);
	border-radius: 1.5vw;
	color: var(--text-color-2);
	font-family: var(--header-font);
	font-weight: 900;
	justify-content: center;
	margin: 3vh;
	width: 50%;
}

/* Change the background of button on hover */
.right a:hover{
	background-color: var(--contrast-color-1);
	color: var(--text-color-1);
}

/* Set background color of nav bar */
.navigation{
	background-color: var(--background-color-2);
	height: 10vh;
}

/* Show funny caveat to promise in small letters when promise is hovered on */
.navigation h2:hover+.promiseClause{
	visibility: visible;
}

/* Top navigation buttons */
.navButton{
	background-color: var(--contrast-color-1);
	border-radius: 1.5vw;
	color: var(--text-color-1);
	display: inline-flex;
	font-family: var(--header-font);
	font-weight: 900;
	margin-left: .5vw;
	margin-top: 2.75vh;
	padding: .5vw;
	text-align: center;
	text-decoration: none;
}

/* Align navigation buttons */
.navButtons{
	max-width: 33.33%;
	text-align: center;
}

/* Change background on hover */
.navButton:hover{
	background-color: var(--contrast-color-4);
	color: var(--text-color-2);
}

/* Promise text settings */
.promise{
	color: var(--text-color-2);
	left: 3vw;
	margin-top: .5vh;
	position: fixed;
}

/* Funny caveat settings */
.promiseClause{
	color: var(--text-color-2);
	font-size: var(--font-xxs);
	left: 3vw;
	margin-top: 3vh;
	position: fixed;
	visibility: hidden;
	width: 60%;
	z-index: 2;
}

/* Slogan design */
.slogan{
	color: var(--text-color-2);
	position: absolute;
	right: 1.5vw;
	text-decoration: var(--text-color-4) wavy underline;
	top: 6vh;
}

/* Title design */
.title{
	color: var(--text-color-4);
	font-size: var(--font-xxl);
	position: absolute;
	right: 1.5vw;
	top: 1vh;
}

/* Bottom navigation bar settings */
#bottomNav{
	bottom: 6vh;
	height: 6vh;
	position: fixed;
	width: 100%;
}

/* Home page picture settings */
#mechanics{
	margin-top: 22vh;
	text-align: center;
	float: right;
}

/* Set image width */
#mechanics img{
	width: 25vw;
}